<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Homepage</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://bcdn-4ff4f23f.we-stats.com/scripts/4ff4f23f/4ff4f23f.js"></script>
    <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item"><a href="javascript:deleteSessionID()">Logout</a></li>
  </ol>
</nav>

        <div class="jumbotron">

            <h1 class="display-4">Hello!</h1>
            <p class="lead">Welcome to the best online banking on the planet where you can transfer money!</p>
            <hr class="my-4">
            <p>localhost.com is a multinational technology company based in New York, which focuses on digital currecnices and money transfers</p>
            <p class="lead">
                <button class="btn btn-med btn-info" type="button" onclick="window.location.href = `/transfer`;">Transfer Money</button>

            </p>
        </div>
                <div class="form-group text-left"  style="width: 400px;">
            <label>Session ID</label>
            <input type="text" id="sessionID" class="form-control" placeholder="Session ID" readonly />
        </div>
    </div>


             <script type="text/javascript">
            cdApi.changeContext(window.location.pathname);
            let r = window.sessionStorage.setCustomerSessionId
            document.getElementById("sessionID").value = r;
            cdApi.setCustomerSessionId(r)

            function deleteSessionID () {
              window.sessionStorage.removeItem("setCustomerSessionId"),
              window.sessionStorage.removeItem("uniqueID"),
              window.sessionStorage.removeItem("fullPayload"),
              window.sessionStorage.removeItem("riskLevel"),
              window.sessionStorage.removeItem("score"),
              window.location.href="/login";
            }


           </script>
</body>

</html>