<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Transfer Money</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://bcdn-4ff4f23f.we-stats.com/scripts/4ff4f23f/4ff4f23f.js"></script>


    <div class="col-md-4 order-md-1">

      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
    <li class="breadcrumb-item"><a href="javascript:deleteSessionID()">Logout</a></li>
  </ol>

</nav>
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
        </div>
        <h4 class="mb-3">Transfer Money</h4>
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>

                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">

            </div>

            <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>

            </div>

            <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>

                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>New York</option>
                </select>

                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>

                </div>
            </div>
            <button class="btn btn-med btn-info btn-block" type="button" onclick="getScorePayload()">Transfer</button>
<br></br>
                <div class="form-group"  style="width: 400px;">
            <label>Session ID</label>
            <input type="text" id="sessionID" class="form-control" placeholder="Session ID" autofocus readonly />
        </div>

           <script type="text/javascript">
            cdApi.changeContext(window.location.pathname);
            let r = window.sessionStorage.setCustomerSessionId
            document.getElementById("sessionID").value = r;
            cdApi.setCustomerSessionId(r)

             function deleteSessionID () {
              window.sessionStorage.removeItem("setCustomerSessionId"),
              window.sessionStorage.removeItem("uniqueID"),
              window.sessionStorage.removeItem("fullPayload"),
              window.sessionStorage.removeItem("riskLevel"),
              window.sessionStorage.removeItem("score"),
              window.location.href="/login";
            }


            async function getScorePayload() {
                   let x = window.sessionStorage.getItem("setCustomerSessionId")
                   let y = window.sessionStorage.getItem("uniqueID")
                   const response = await fetch(`/getScore?customerId=dummy&customerSessionId=${x}&uuid=${y}`);
                    const fullPayload = await response.json();
                    console.log(fullPayload)
                    window.sessionStorage.setItem("fullPayload", JSON.stringify(fullPayload));
                    window.sessionStorage.setItem("riskLevel", fullPayload.riskLevel);
                    window.sessionStorage.setItem("score", fullPayload.score);
                   window.location.href = `/finalpage`; 

                }


           </script>

</body>

</html>